
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:rgb(170, 78, 78);">String Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a  class="nav-link" style="color:rgb(233, 173, 173);" (click)="onOpenModal2(null, 'add')" >Add String <span class="sr-only">(curent)</span></a>
          </li>
       </ul>
       <h1 class="h1Style" style="color: rgb(144, 175, 175)">Welcome!</h1>
       <!-- <form class="form-inline my-2 my-lg-0">
          <input type="search" (ngModelChange)="searchStrings(key.value)" #key="ngModel" ngModel
          name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search String By Id..." required>
       </form> -->  
    </div>
  </nav>
  <div class="container" id="main-container">
      <div class="row">
          <div *ngFor="let string of strings, let i = index" class="col-md-6 col-xl-3">
              <div class="card m-b-30">
                  <div class="card-body row">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Phrase {{i}}: </li>
                            <p class="list-group-item">{{string?.inputString}}</p>
                        <li class="list-group-item">Word Searched: {{string?.searchString}} </li>
                        <!-- <li class="list-group-item">Found: {{string?.isFound}}</li> -->
                        <li class="list-group-item">Count: {{string?.count}}</li>
                        <!-- <li class="list-group-item">Case sensitive: {{string?.caseSensitive}} </li> -->
                        
                    </ul>
                  <!-- <div class="card-body">
                      <div class="float-right btn-group btn-group-sm">
                          <a (click)="onOpenModal(string, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                      </div>
                  </div> -->
              </div>
          </div>
      
  <!-- Add Employee Modal --> 
<div class="modal fade" id="addStringModal" tabindex="-1" role="dialog" aria-labelledby="addStringModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addStringModalLabel">Add String</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddString(addForm)">
            <div class="form-group">
               <label for="stringName">Enter Sentece: </label>
               <input type="text" ngModel name="inputString" class="form-control" id="stringName" placeholder="Enter Phrase" required>
            </div>
            <div class="form-group">
               <label for="wordSearch">Phrase to be Searched:</label>
               <input type="text" ngModel name="searchString" class="form-control" id="wordSearch" placeholder="Word:" required>
            </div>
            <!-- <div *ng class="form-group">
               <label for="wordSearch">count:</label>
               <input type="text" ngModel name="count" class="form-control" id="count" placeholder="Word:" required>
            </div> -->
            <div class="modal-footer">
               <button type="button" id="add-string-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Check Phrase</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>

<!-- Delete Modal -->
<!-- <div class="modal fade" id="deleteStringModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Delete String</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete string: {{deleteString?.inputString}}?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
               <button  (click)="onDeleteString(deleteString.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
         </div>
      </div>
   </div>
 </div>
 </div> -->

 <div *ngIf="strings?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
   <div class="alert alert-info" role="alert">
     <h4 class="alert-heading">NO PHRASES!</h4>
     <p>No Phrases were found.</p>
   </div>
   </div>
